.l-container {
  color: white;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  border: solid blue;
}
.grid div {
  width: 20px;
  height: 20px;
}
.pac-dot {
  background-color: green;
  border: 5px solid white;
  box-sizing: border-box;
}

.wall {
  background-color: blue;
}
.power-pellet {
  background-color: green;
  border-radius: 10px;
}
.blinky {
  background-color: red;
  border-radius: 10px;
}
.pinky {
  background-color: pink;
  border-radius: 12px;
}
.inky {
  background-color: cyan;
  border-radius: 12px;
}
.clyde {
  background-color: orange;
  border-radius: 12px;
}
.pac-man {
  background-color: yellow;
  border-radius: 10px;
}
.scared-ghost {
  background-color: aquamarine;
}
#startGame {
  background-color: brown;
  color: white;
}
#startplaying {
  background-color: brown;
  color: white;
}
